<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CoffeeMe Blog &mdash; {{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="google-site-verification" content="dh3khRyemaWElDLZM57YfWgzlAJ13f08yZeI_h0wWrQ" />
	<link href="/css/screen.css" media="screen" rel="Stylesheet" type="text/css" />
  <script type="text/javascript" src="//use.typekit.net/ldo1tdy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42778155-1', 'coffeeme.in');
    ga('send', 'pageview');
    </script>
</head>
<body>
  <!-- Facebook Comments -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1418648188352905";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id="body-content">
		<div id="side-bar">
			<a href="/"><img src="https://s3.amazonaws.com/coffeeme/coffeeme-logo-blog.png" width="78"></a>
			<p id="name"><a href="/" class="no-underline">CoffeeMe Blog</a></p>
			<p id="description">CoffeeMe introduces you to useful people you want to meet professionally.</p>
			<p id="position"><a href="http://coffeeme.in/?utm_source=content&utm_medium=blog&utm_campaign=side-bar">http://coffeeme.in</a></p>
			<p id="contact">
				<a href="https://twitter.com/coffeemein" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hsukenooi</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</p>
		</div>
		{{ content }}
	</div>
</body>
</html>
